<!-- search page ================================================== -->  	

<!-- <div ng-include="'views/templates/head.html'"></div> -->

<div class="row-group">
	
	<div class="row">
		<div id="map-wrap" class="col-sm-9">
		<!-- <div id="map-wrap" class="col-sm-9" ng-controller="palmerCache"> -->
		
			<h2 class="bar-title">Find How Water is Priced: Agency Data
				<span class="ctrmrate counters pull-right" tooltip-placement="top" tooltip="{{record}} CPUC records">{{record}}</span>
			</h2>

			<div mapagency id="map" points="records | filter:searchrecords"></div>
		</div>
		
		<div class="detail-wrap col-sm-3">	  
			<h2 class="bar-title">Search Pricing</h2>
		  <tabset justified="true">
		    <tab heading="Details">
		    	
		    	<div class="detail-panel">
						
						<div id="banner-wrap">
							<div id="banner-wrap-inner">
								<click-banner></click-banner>
								<h5 class="text-muted">CLICK POINTS ON MAP</h5>
							</div>
						</div>

						<div class="detail-panel-inner">
							<h4 id="bill-panel-streetaddr" class="panel-items"></h4>
			    		<p><span class="text-muted">Water Provider: </span><b id="bill-panel-util" class="panel-items"></b></p>
			    		<p><span class="text-muted">Quantity Rate: </span><b id="bill-panel-quantity-rate" class="panel-items"></b></p>
			    		<p><span class="text-muted">Flat Rate: </span><b id="bill-panel-flat-rate" class="panel-items"></b></p>
			    		<p><span class="text-muted">Service Charge: </span><b id="bill-panel-service-charge" class="panel-items"></b></p>
			    		<p><span class="text-muted">Service Area: </span><b id="bill-panel-service-area" class="panel-items"></b></p>
						</div>
		    		
		    		<hr>
						
						<div ng-include="'views/templates/pdsi-legend.html'"></div>

		    	</div>
		    </tab>
		    
		    <tab heading="Summary">
		    	
					<div id="search" class="input-group">
					  <input type="text" class="search-custom form-control" ng-model="$parent.searchrecords" placeholder="ex. san diego">
					  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
					</div>

		    	<div class="search-panel-agency">

		    		<div ng-controller="searchAccordion">
		    			
						  <accordion close-others="oneAtATime" ng-repeat="record in records | filter:searchrecords">

						    <accordion-group is-open="isopen">

					        <accordion-heading>
					          <p>{{record.properties.streetaddr}}:</p>
					          <div ng-if="record.properties.quantity_rate !== ''">
					          	<p class="ctrmrate counters-small text-inline">${{record.properties.quantity_rate}} /ccf</p><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
					          </div>
					          <div ng-if="record.properties.quantity_rate == ''">
					          	<p class="ctrmrate counters-small text-inline">${{record.properties.flat_rate}}</p><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
					          </div>
					        </accordion-heading>

					    		<p><span class="text-muted">Water Provider: </span><b id="bill-panel-util" class="panel-items">{{record.properties.utility_me}}</b></p>
					    		
					    		<div ng-if="record.properties.quantity_rate !== ''">
					    			<p><span class="text-muted">Quantity Rate: </span><b>$</b><b id="bill-panel-bill" class="panel-items">{{record.properties.quantity_rate}}</b> /ccf</p>
					    		</div>
					    		
					    		<div ng-if="record.properties.flat_rate !== ''">
					    			<p><span class="text-muted">Flat Rate: </span><b>$</b><b id="bill-panel-bill" class="panel-items">{{record.properties.flat_rate}}</b></p>
					    		</div>
					    		
					    		<div ng-if="record.properties.service_charge !== ''">
					    			<p><span class="text-muted">Service Charge: </span><b>$</b><b id="bill-panel-bill" class="panel-items">{{record.properties.service_charge}}</b></p>
					    		</div>

					    		<p><span class="text-muted">Participating Agency: </span><b id="bill-panel-submit" class="panel-items">{{record.properties.agency}}</b></p>
						    
						    </accordion-group>
						  </accordion>
		    		
		    		</div> <!-- .detail-panel-inner-search -->

		    	</div> <!-- .search-panel -->
		    </tab>
		  </tabset>
		</div>
	</div>

	<div class="row">
		
		<div id="graph-wrap2" class="col-sm-4">
		  <!-- <d3-graph id="chartContainer" data="entries"></d3-graph> -->
		</div>
		
		<div id="graph-wrap3" class="col-sm-4">
		  <!-- <d3-donut data="[82, 62, 10, 32]"></d3-donut> -->
		  <!-- <d3-donut data="entries"></d3-donut> -->
		</div>
	
	</div>

</div>

<div ng-include="'views/templates/nav-content.html'"></div>
<div ng-include="'views/templates/explore-content.html'"></div>
<div ng-include="'views/templates/atlas-content.html'"></div>




