<!-- boilerplate partial general atlas info ================================================== -->    

<div class="row row-group" id="get-data" name="get-data">
  <h2 class="bar-title">Get Data</h2>

  <p class="lead">This data is meant to support journalists, advocates, researchers, and policy makers to understand and explain water pricing issues more effectively to a broad audience. Publishing this data is just the first step in transforming how we communicate about water. We invite you to lend your talents to this initiative to make California’s water system easier for everyone to understand.</p>
  
  <ul class="nav nav-tabs nav-stacked col-md-6">
    <li ng-class="{'active':currentTab == 'api-intro'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-intro'">Introduction</a>
    </li>
    <li ng-class="{'active':currentTab == 'api-download'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-download'">API | Bulk Download</a>
    </li>
    <li ng-class="{'active':currentTab == 'api-documentation'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-documentation'">Documentation</a>
    </li>
    <li ng-class="{'active':currentTab == 'api-about'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-about'">About the dataset</a>
    </li>
  </ul>

  <!-- <tabset vertical="true" type="navType" class="col-md-6">
    <tab heading="Introduction"></tab>
    <tab heading="API | Bulk Download"></tab>
  </tabset> -->

  <!-- <div class="tab-content col-md-6">
    <div class="tab-pane" ng-class="{'active':currentTab == 'api-intro'}" id="api-intro">
      
      <div class="teaser-panel lead">
        <h3>Introduction</h3>
        <p>The California Water Table data contains 30 years of underground water table level readings from scientific research wells across the state. Some data is collected by the state, other data is collected by individuals.</p>
            
        <h3>Data Stats</h3>
        <ul>
          <li>56 counties</li>
          <li>18996 research wells measuring the top position (depth) of groundwater</li>
          <li>570,000+ measurements</li>
          <li>515 distinct groundwater systems</li>
          <li>431 groundwater basins</li>
          <li>24 basins are subdivided to create an additional 108 subbasins</li>
        </ul>
      </div>
    </div>
  </div> -->


  <div class="tab-content col-md-6" data-ng-show="$state.includes('user')">
    <div class="tab-pane" ng-class="{'active':currentTab == 'api-intro'}" id="api-intro">
      <div class="teaser-panel lead">
        <h3>Introduction: User Data</h3>
        <p>The California Water Table data contains 30 years of underground water table level readings from scientific research wells across the state. Some data is collected by the state, other data is collected by individuals.</p>
            
        <h3>Data Stats</h3>
        <ul>
          <li>56 counties</li>
          <li>18996 research wells measuring the top position (depth) of groundwater</li>
          <li>570,000+ measurements</li>
          <li>515 distinct groundwater systems</li>
          <li>431 groundwater basins</li>
          <li>24 basins are subdivided to create an additional 108 subbasins</li>
        </ul>
      </div>
    </div><!-- .tab-pane -->

    <div class="tab-pane" ng-class="{'active':currentTab == 'api-download'}" id="api-download">
      <div class="teaser-panel lead">
        <h3>API | Bulk Download</h3>
        <p>[Endpoint: http://api.statewater.org/ca/watertable/v1] (parameters)
          [MongoDB: http://dropbox.com/linky-linky], CSV, GeoJSON
              
          Technical: 30 years of CASGEM groundwater elevation level data, improved for use with modern web technologies. Intended primarly for exploratory visualizations. Updated quarterly. Last updated July 2013.</p>
      </div>
    </div><!-- .tab-pane -->  

    <div class="tab-pane" ng-class="{'active':currentTab == 'api-documentation'}" id="api-documentation">
      <div class="teaser-panel lead">
        <h3>API Documentation</h3>
      </div>
    </div><!-- .tab-pane -->  

    <div class="tab-pane" ng-class="{'active':currentTab == 'api-about'}" id="api-about">
      <div class="teaser-panel lead">
        <h3>About the Dataset</h3>
        <p>What is being measured
          (repurpose / shorten from blog posts)
          Fields
          Methods
          [Data cleanup scripts]
          Original Data Source
          Roadmap</p>
        <p>[Disclaimer | #disclaimer]</p>
      </div><!-- .teaser-panel -->
    </div><!-- .tab-pane -->
  
  </div><!-- .tab-content -->
</div><!-- .row -->


