<!-- boilerplate partial general atlas info ================================================== -->    

<div class="row row-group" id="get-data" name="get-data">
  <h2 class="bar-title">Get Data</h2>

  <p class="lead">This data is meant to support journalists, advocates, researchers, and policy makers to understand and explain water pricing issues more effectively to a broad audience. Publishing this data is just the first step in transforming how we communicate about water. We invite you to lend your talents to this initiative to make California’s water system easier for everyone to understand.</p>
  
  <ul class="nav nav-tabs nav-stacked col-md-6">
    <li ng-class="{'active':currentTab == 'api-intro'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-intro'">Introduction</a>
    </li>
    <li ng-class="{'active':currentTab == 'api-download'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-download'">Bulk Download</a>
    </li>
    <li ng-class="{'active':currentTab == 'api-documentation'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-documentation'">API Documentation</a>
    </li>
    <!-- <li ng-class="{'active':currentTab == 'api-about'}">
      <a data-toggle="tab" ng-click="currentTab = 'api-about'">About the dataset</a>
    </li> -->
  </ul>

  <!-- <tabset vertical="true" type="navType" class="col-md-6">
    <tab heading="Introduction"></tab>
    <tab heading="API | Bulk Download"></tab>
  </tabset> -->

  <!-- <div class="tab-content col-md-6">
    <div class="tab-pane" ng-class="{'active':currentTab == 'api-intro'}" id="api-intro">
      
      <div class="teaser-panel lead">
        <h3>Introduction</h3>
        <p>The California Water Table data contains 30 years of underground water table level readings from scientific research wells across the state. Some data is collected by the state, other data is collected by individuals.</p>
            
        <h3>Data Stats</h3>
        <ul>
          <li>56 counties</li>
          <li>18996 research wells measuring the top position (depth) of groundwater</li>
          <li>570,000+ measurements</li>
          <li>515 distinct groundwater systems</li>
          <li>431 groundwater basins</li>
          <li>24 basins are subdivided to create an additional 108 subbasins</li>
        </ul>
      </div>
    </div>
  </div> -->

  <!-- USER DATA TAB CONTENT -->
  <div class="tab-content col-md-6" data-ng-show="$state.includes('user')">
    <div class="tab-pane" ng-class="{'active':currentTab == 'api-intro'}" id="api-intro">
      <div class="teaser-panel lead">
        <h3>Introduction: User Data</h3>
        <p>This is a growing and evolving dataset comprised of user submitted data. Visitors to this <a href="/">URL</a> are invited to answer a simple survey about their water bill.  Data received is formatted and made available both graphically, and through API and bulk download options.</p>
            
        <h3>Data Stats: User Data</h3>
        <p>(coming soon!) As this dataset evolves, we plan to publish updates on user participation, and observations on the progress of the experiment.</p>
      </div>
    </div><!-- .tab-pane -->

    <div class="tab-pane" ng-class="{'active':currentTab == 'api-download'}" id="api-download">
      <div class="teaser-panel lead">
        <h3>Bulk Download</h3>
          <p>MongoDB: <a href="https://www.dropbox.com/home/data/data-groundwater-levels/mongodb/dump">Download</a> from Dropbox</p>
      </div>
    </div><!-- .tab-pane -->  

    <div class="tab-pane" ng-class="{'active':currentTab == 'api-documentation'}" id="api-documentation">
      <div class="teaser-panel lead">
        <h3>API Documentation</h3>

        <dl>
          <dt>Endpoint</dt><dd>http://finalURL/api/v1/bills</dd>          
        </dl>

        <blockquote>
          <pre>
            {
              _id: "5364098b6c11da2b74000002",
              properties: {
                userloc: "Corte Madera, CA, United States",
                streetaddr: "Corte Madera, CA, USA",
                city: "Corte Madera",
                county: "Marin County",
                state: "CA",
                country: "US",
                postal: null,
                hsize: 2,
                util: "Marin Municipal Water District",
                bill: 66.41,
                sdate: "2014-01-07T08:00:00.000Z",
                edate: "2014-03-06T08:00:00.000Z",
                billtype: "mrate",
                used: 12,
                units: "ccf",
                billperiod: 58,
                pcappday: 0.57,
                tstamp: "2014-05-02T21:48:46.419Z"
              },
              type: "Feature",
              geometry: {
              coordinates: [
                -122.52747549999998,
                37.9254806
              ],
              type: "Point"
              }
            }
          </pre>
        </blockquote>

        <dl>
          <dt>userloc=Corte Madera</dt><dd>User entered text, or Google Places autocompleted text</dd>
          <dt>streetaddr=Corte Madera, CA, USA</dt><dd>Google Places API: data.formatted_address</dd>
          <dt>city=Corte Madera</dt><dd>Google Places API: data.feature.properties.locality</dd>
          <dt>county=Marin County</dt><dd>Google Places API: data.feature.properties.administrative_area_level_2</dd>
          <dt>state=CA</dt><dd>Google Places API: data.feature.properties.administrative_area_level_1</dd>
          <dt>country=US</dt><dd>Google Places API: data.feature.properties.country</dd>
          <dt>postal=94960</dt><dd>Google Places API: data.feature.properties.postal_code</dd>
          <dt>hsize=2</dt><dd>Household Size, Number</dd>
          <dt>util=Marin Municipal Water District</dt><dd>Utility Name</dd>
          <dt>bill=66.41</dt><dd>Total Bill in USD, Number</dd>
          
          <dt>sdate=2014-01-07T08:00:00.000Z</dt><dd>Bill Start Date format M/DD/YYYY</dd>
          <dt>edate=2014-03-06T08:00:00.000Z</dt><dd>Bill End Date format M/DD/YYYY</dd>
          
          <!-- <dt>sdate=M/DD/YYYY</dt><dd>Bill Start Date format: 2014-01-07T08:00:00.000Z</dd>
          <dt>edate=M/DD/YYYY</dt><dd>Bill End Date format: 2014-03-06T08:00:00.000Z</dd> -->

          <dt>used=12</dt><dd>Consumption, Number</dd>
          <dt>units=ccf</dt><dd>Units, Gallons or CCFs, Number</dd>
          <dt>billperiod=58</dt><dd>Bill Period, Number</dd>
          <dt>pcappday=94960</dt><dd>Price Per Capita Per Day</dd>
          <dt>tstamp=94960</dt><dd>http://finalURL/api/v1/bills</dd>

        </dl>


      </div>
    </div><!-- .tab-pane -->  

    <!-- <div class="tab-pane" ng-class="{'active':currentTab == 'api-about'}" id="api-about">
      <div class="teaser-panel lead">
        <h3>About the Dataset</h3>
        <p>What is being measured
          (repurpose / shorten from blog posts)
          Fields
          Methods
          [Data cleanup scripts]
          Original Data Source
          Roadmap</p>
        <p>[Disclaimer | #disclaimer]</p>
      </div>
    </div> -->
  
  </div><!-- .tab-content -->


  <!-- AGENCY DATA TAB CONTENT -->
  <div class="tab-content col-md-6" data-ng-show="$state.includes('agency')">
    <div class="tab-pane" ng-class="{'active':currentTab == 'api-intro'}" id="api-intro">
      <div class="teaser-panel lead">
        <h3>Introduction: Agency Data</h3>
        
      </div>
    </div><!-- .tab-pane -->

    <div class="tab-pane" ng-class="{'active':currentTab == 'api-download'}" id="api-download">
      <div class="teaser-panel lead">
        <h3>Bulk Download: Agency Data</h3>
          <p>MongoDB: <a href="https://www.dropbox.com/home/data/data-groundwater-levels/mongodb/dump">Download</a> from Dropbox</p>
      </div>
    </div><!-- .tab-pane -->  

    <div class="tab-pane" ng-class="{'active':currentTab == 'api-documentation'}" id="api-documentation">
      <div class="teaser-panel lead">
        <h3>API Documentation: Agency Data</h3>

        <dl>
          <dt>Endpoint</dt><dd>http://finalURL/api/v1/agency</dd>          
        </dl>

        <blockquote>
          <pre>
            {
              _id: "535fd4dfe7f99de4d3577b79",
              type: "Feature",
              properties: {
                streetaddr: "Cross Loop, Boulder Creek, CA 95006, USA",
                city: "Boulder Creek",
                county: "Santa Cruz County",
                state: "CA",
                postal: "95006",
                country: "US",
                corporate_id: "157",
                utility_type: "SWR",
                utility_me: "Big Basin Sanitation Company",
                utility_city: "BOULDER CREEK",
                utility_state: "CA",
                utility_zip: "95006",
                cpcn_date: "",
                service_area_description: "Service in Big Basin Woods Subdivision located approximately 3 miles northeast of Boulder Creek",
                quantity_rate: "2.26",
                service_charge: "27.95",
                flat_rate: "48.84",
                agency: "CPUC"
              },
              geometry: {
                type: "Point",
                coordinates: [
                  -122.127636,
                  37.141085
                ]
              }
            }
          </pre>
        </blockquote>

<!--         <dl>
          <dt>userloc</dt><dd>Google Places API: data.formatted_address</dd>
          <dt>userloc</dt><dd>Google Places API: data.formatted_address</dd>
          <dt>Endpoint</dt><dd>http://finalURL/api/v1/bills</dd>
          <dt>Endpoint</dt><dd>http://finalURL/api/v1/bills</dd>
          <dt>Endpoint</dt><dd>http://finalURL/api/v1/bills</dd>
          <dt>Endpoint</dt><dd>http://finalURL/api/v1/bills</dd>
          <dt>Endpoint</dt><dd>http://finalURL/api/v1/bills</dd>

        </dl> -->


      </div>
    </div><!-- .tab-pane -->  

    <!-- <div class="tab-pane" ng-class="{'active':currentTab == 'api-about'}" id="api-about">
      <div class="teaser-panel lead">
        <h3>About the Dataset</h3>
        <p>What is being measured
          (repurpose / shorten from blog posts)
          Fields
          Methods
          [Data cleanup scripts]
          Original Data Source
          Roadmap</p>
        <p>[Disclaimer | #disclaimer]</p>
      </div>
    </div> -->
  
  </div><!-- .tab-content -->



</div><!-- .row -->


<div class="row row-group" id="about" name="about">
  <h2 class="bar-title">About</h2>

  <ul class="nav nav-tabs nav-stacked col-md-6">
    <li ng-class="{'active':currentTab == 'ncwa'}">
      <a data-toggle="tab" ng-click="currentTab = 'ncwa'">New California Water Atlas</a>
    </li>
    <li ng-class="{'active':currentTab == 'disclaimer'}">
      <a data-toggle="tab" ng-click="currentTab = 'disclaimer'">Disclaimer</a>
    </li>
  </ul>

  <div class="tab-content col-md-6">
    
    <div class="tab-pane" ng-class="{'active':currentTab == 'ncwa'}" id="ncwa">
      <div class="teaser-panel lead">
        <h3>New California Water Atlas</h3>
        <p>This project is the product of the <a href="">New California Water Atlas</a>. Sponsored by the <a href="">Resource Renewal Institute</a>, and the <a href="">California Public Utilities Commission</a>.</p>
      </div>
    </div><!-- .tab-pane -->


    <div class="tab-pane" ng-class="{'active':currentTab == 'disclaimer'}" id="disclaimer">
      <div class="teaser-panel lead">
        <h3>Disclaimer</h3>
        <p>The New California Water Atlas does not make representations as to the accuracy or completeness of any information on this site or found by following any link on this site. The New California Water Atlas will not be liable for any errors or omissions in this information nor for the availability of this information. The New California Water Atlas will not be liable for any losses, injuries, or damages from the display or use of this information. This policy is subject to change at any time.</p>

        <p>We are publishing information in an experimental format that can be more readily used by web programmers. We have described our methods of obtaining & transforming the data. We provide this data as a service to the public who wishes to learn more about the water in their state.</p>
      </div>
    </div><!-- .tab-pane -->
  

  </div><!-- .tab-content -->
</div><!-- .row -->

