<div class="row row-group">

  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      
      <div class="item active">
        <div class="carousel-caption">
          Urban Water Prices and Rate Structures
        </div>
        <a href="/levels"><img class="img-responsive" src="http://placehold.it/1200x480" alt="Water Levels">
        </a>
      </div>
  
      <div class="item">
        <a href="/aquifers"><img class="img-responsive" src="http://placehold.it/1200x480" alt="Aquifers">
        <div class="carousel-caption">
          Where are aquifers in California?
        </div></a>
      </div><!-- end .item -->
    
    </div><!-- end .carousel-inner -->
  
    <!-- Controls -->
    <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a> -->
  
  </div><!-- end .carousel -->
</div><!-- end .row-group -->