<div class="row row-group" id="explore" data-ng-show="$state.includes('agency')">
  <h2 class="bar-title">Explore User Submitted Data</h2>
  
  <div class="row">
    <div class="col-md-6">
      <a ui-sref="user"><img class="img-responsive img-thumbnail image-sample" src="../../img/assets/bills_scrnshot.jpg" height="300" width="533" alt="explore user submitted data"></a>
    </div>
    
    <div class="col-md-6">
      <div class="teaser-panel">
        <h3>What users are saying about their water</h3>
        <p class="lead"></p>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .row-group -->

<div class="row row-group" id="participate" data-ng-show="$state.includes('user')"> 
  <h2 class="bar-title">Explore Agency Data</h2>
  <div class="row">
    <div class="col-md-6">
      <a ui-sref="agency"><img class="img-responsive img-thumbnail image-sample" src="../../img/assets/agency_scrnshot.jpg" height="300" width="533" alt="explore agency data"></a>
    </div>
    
    <div class="col-md-6">
      <div class="teaser-panel">
        <h3>What users reported to their water agencies</h3>
        <p class="lead">In collaboration with the California Public Utilities Commission, we plan to  release additional data gathered from investor owned utilities statewide.  As data becomes available both current and historic, we hope to include other public water providers as well.  If you are a water agency that would like to participate in this experiment, please reach out to us: <a href="mailto:info@statewater.org" target="_blank"><i class="fa fa-envelope"></i> info (at) statewater (dot) org</a></p>
      </div>
    </div>
  </div><!-- .row -->
</div><!-- .row-group -->