<!-- search page ================================================== -->  	

<div ng-include="'views/templates/head.html'"></div>

<div class="row-group">
	
	<div class="row">
		<!-- <div id="map-wrap" class="col-sm-9" ng-controller="palmerController"> -->
		<div id="map-wrap" class="col-sm-9" ng-controller="palmerCache">
		
			<h2 class="bar-title" ng-controller="submitCounter2">Find How Water is Priced
				<span id="ctrmrate" class="counters pull-right">{{mrate}}</span>
			</h2>

			<div mapagency id="map" points="records" layerone="palmercache"></div>
		</div>
		
		<!-- <div id="graph-wrap1" class="col-sm-3" ng-controller="barsController1">	  
			<h2 class="bar-title">Water Bills</h2>
			<div d3-bars id="chartContainer" data="entries" on-click="onClick(item)" bar-height="40" bar-padding="5"></div>
			<div ng-show="showDetailPanel">
		    <h3>Details</h3>
		    <h3>Item: {{ detailItem._id }}</h4>
		    <a ng-click="showDetailPanel=false">Hide</a>
		  </div>
		</div> -->
		
		<div id="graph-wrap1" class="col-sm-3">	  
			<h2 class="bar-title">Details</h2>
		  <tabset justified="true">
		    <tab heading="Water Bill">
		    	<div class="bill-panel">
		    		
						<p>Cost per Day: $<span id="bill-panel-pday" class="panel-items"></span></p>
		    		<p>Location: <span id="bill-panel-streetaddr" class="panel-items"></span></p>

		    		<p>Water Provider: <span id="bill-panel-util" class="panel-items"></span></p>
		    		<p>Total Bill: $<span id="bill-panel-bill" class="panel-items"></span></p>
		    		<p>Water Used: <span id="bill-panel-used" class="panel-items"></span> <span id="bill-panel-units" class="panel-items"></span></p>
		    		<p>Submitted: <span id="bill-panel-submit" class="panel-items"></span></p>

		    	</div>
		    </tab>
		    <tab heading="Search">search input here</tab>
		  </tabset>
		</div>
	</div>


	<div class="row">
		<div id="graph-wrap2" class="col-sm-4">
		  <!-- <d3-graph id="chartContainer" data="entries"></d3-graph> -->
		</div>
		
		<div id="graph-wrap3" class="col-sm-4">
		  <!-- <d3-donut data="[82, 62, 10, 32]"></d3-donut> -->
		  <!-- <d3-donut data="entries"></d3-donut> -->
		</div>

	</div>

</div>

<div ng-include="'views/templates/nav-content.html'"></div>
<div ng-include="'views/templates/explore-content.html'"></div>
<div ng-include="'views/templates/atlas-content.html'"></div>




