<div class="row row-group" ng-controller="mainController">
	<div class="panel panel-default col-sm-6 col-sm-offset-3">
		<div class="panel-body">

			<div ng-form name="formData" ng-init="step = 1" novalidate>

			  <div ng-show="step==1">
					<div ng-form='formData1'>
						
						<div class="form-group" ng-class="{ 'has-error' : formData1.addr.$invalid && !formData1.addr.$pristine && !formData1.addr.$focused}">
						  <label for="InputAddr">Location</label>
						  <input 
						  	type="text"
						  	name="addr"
						  	class="form-control" 
						  	id="InputAddr"
						  	ng-model="addr"
						  	placeholder="93406"
						  	required
								ng-focus
								ng-autocomplete="result"
								details="details"
								options="options">
							<p ng-show="formData1.addr.$invalid && !formData1.addr.$pristine && !formData1.addr.$focused" class="help-block">Your Location is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : formData1.hsize.$invalid && !formData1.hsize.$pristine && !formData1.hsize.$focused }">
						  <label for="InputUse">Number of people in your household</label>
						  <input 
						  	type="number"
						  	name="hsize"
						  	class="form-control"
						  	id="InputHsize"
						  	ng-model="hsize"
						  	placeholder="4"
						  	required
						  	ng-focus>
						  <p ng-show="formData1.hsize.$invalid && !formData1.hsize.$pristine && !formData1.hsize.$focused" class="help-block">Your Household size is required.</p>
						</div>
					</div>
			    <button type="button" class="btn btn-default" ng-disabled="formData1.$invalid" ng-click="step = 2">Next</button>
			  </div>

			  <div ng-show="step==2">
					<div ng-form='formData2'>
						<div class="form-group" ng-class="{ 'has-error' : formData2.util.$invalid && !formData2.util.$pristine && !formData2.util.$focused}">
						  <label for="InputUtil">Water Provider</label>
						  <input 
						  	type="text"
						  	name="util"
						  	class="form-control" 
						  	id="InputUtil"
						  	ng-model="util"
						  	placeholder="SWA"
						  	required
								ng-focus>
							<p ng-show="formData2.util.$invalid && !formData2.util.$pristine && !formData2.util.$focused" class="help-block">Your Water Provider is required.</p>
						</div>
						
						<div class="form-group" ng-class="{ 'has-error' : formData2.bill.$invalid && !formData2.bill.$pristine && !formData2.bill.$focused }">
						  <label for="InputBill">Total Bill: $</label>
						  <input 
						  	type="number"
						  	name="bill"
						  	class="form-control"
						  	id="InputBill"
						  	ng-model="bill"
						  	placeholder="45.55"
						  	required
						  	ng-focus>
						  <p ng-show="formData2.bill.$invalid && !formData2.bill.$pristine && !formData2.bill.$focused" class="help-block">Your Total Bill is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : formData2.period.$invalid && !formData2.period.$pristine && !formData2.period.$focused }">
						  <label for="InputPeriod">Billing Period: Days</label>
						  <input 
						  	type="number"
						  	name="period"
						  	class="form-control"
						  	id="InputPeriod"
						  	ng-model="period"
						  	placeholder=""
						  	required
						  	ng-focus>
						  <p ng-show="formData2.period.$invalid && !formData2.period.$pristine && !formData2.period.$focused" class="help-block">Your Billing Period is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : formData2.used.$invalid && !formData2.used.$pristine && !formData2.used.$focused }">
						  <label for="InputUsed">Metered Water Consumption</label>
						  <input 
						  	type="number"
						  	name="used"
						  	class="form-control"
						  	id="InputUsed"
						  	ng-model="used"
						  	placeholder="101"
						  	required
						  	ng-focus>
						  <p ng-show="formData2.used.$invalid && !formData2.used.$pristine && !formData2.used.$focused" class="help-block">Your Metered Water Consumption is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : formData2.units.$invalid && !formData2.units.$pristine && !formData2.units.$focused }">
						  <label for="InputUnits">Consumption Units</label>
						  <input 
						  	type="text"
						  	name="units"
						  	class="form-control"
						  	id="InputUnits"
						  	ng-model="units"
						  	placeholder="gal/gal or ccf/1,000"
						  	required
						  	ng-focus>
						  <p ng-show="formData2.units.$invalid && !formData2.units.$pristine && !formData2.units.$focused" class="help-block">Your Unit type is required.</p>
						</div>
					</div>
			    <button type="button" class="btn btn-default" ng-click="step = 1">Back</button>
			    <button type="button" class="btn btn-default" ng-disabled="formData2.$invalid" ng-click="step = 3">Next</button>
			  </div>

			  <div ng-show="step==3">
					<div ng-form='formData3'>
						<div class="form-group" ng-class="{ 'has-error' : formData3.lat.$invalid && !formData3.lat.$pristine && !formData3.lat.$focused}">
						  <label for="InputLat">Latitude</label>
						  <input 
						  	type="number"
						  	name="lat"
						  	class="form-control" 
						  	id="InputLat"
						  	ng-model="lat"
						  	placeholder="37.166111"
						  	required
								ng-focus>
							<p ng-show="formData3.lat.$invalid && !formData3.lat.$pristine && !formData3.lat.$focused" class="help-block">Your Lat is required.</p>
						</div>
						
						<div class="form-group" ng-class="{ 'has-error' : formData3.lng.$invalid && !formData3.lng.$pristine && !formData3.lng.$focused }">
						  <label for="InputUse">Longitude</label>
						  <input 
						  	type="number"
						  	name="lng"
						  	class="form-control"
						  	id="InputLng"
						  	ng-model="lng"
						  	placeholder="-119.449444"
						  	required
						  	ng-focus>
						  <p ng-show="formData3.lng.$invalid && !formData3.lng.$pristine && !formData3.lng.$focused" class="help-block">Your Lng is required.</p>
						</div>
					</div>
					
					<div>{{details.geometry.location.d}}</div>
	      	<div>{{details.geometry.location.e}}</div>
					
					<button type="button" class="btn btn-default" ng-click="step = 2">Back</button>
					<button type="submit" class="btn btn-success" ng-disabled="formData.$invalid" ng-click="createBill()">Submit</button> 
			  </div>

			</div><!-- ng-form -->
		
		</div><!-- .panel-body -->
	</div><!-- .panel -->
</div><!-- .row-group -->