<!-- home page ================================================== -->  	
<div ng-include="'views/templates/head.html'"></div>

<div id="submit-block" class="row row-group">
	
	<div id="hook-box" class="col-sm-offset-1 col-sm-5">
    <span class="">Compare your water bill with other Californians in two easy steps.</span>
	</div>
	
	<div class="panel panel-default col-sm-5">
		<div class="panel-body">

			<div ng-form name="formData" ng-init="step = 1" novalidate>

			  <div ng-show="step==1">
					<div ng-form='formData1'>
						<div class="form-title">
							<h2>About You</h2>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : formData1.addr.$invalid && !formData1.addr.$pristine && !formData1.addr.$focused , 'has-success' : formData1.addr.$valid && !formData1.addr.$pristine && !formData1.addr.$focused }" >
						  <label for="InputAddr">Location</label>
						  <div class="right-inner-addon">
						  	<i ng-show="formData1.addr.$valid && !formData1.addr.$pristine && !formData1.addr.$focused" class="glyphicon glyphicon-ok form-control-feedback"></i>
						  	<input 
						  		type="text"
						  		name="addr"
						  		class="form-control" 
						  		id="InputAddr"
						  		ng-model="formData.addr"
						  		placeholder="example: 94705 or Berkeley"
						  		required
						  		ng-focus
						  		ng-autocomplete="result"
						  		details="details"
						  		options="{country: 'us'}">
						  </div>
							<p ng-show="formData1.addr.$invalid && !formData1.addr.$pristine && !formData1.addr.$focused" class="help-block">Your Location is required.</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : formData1.hsize.$invalid && !formData1.hsize.$pristine && !formData1.hsize.$focused , 'has-success' : formData1.hsize.$valid && !formData1.hsize.$pristine && !formData1.hsize.$focused }">
						  <label for="InputUse">Number of people in your household</label>
						  <div class="right-inner-addon">
						  	<i ng-show="formData1.hsize.$valid && !formData1.hsize.$pristine && !formData1.hsize.$focused" class="glyphicon glyphicon-ok form-control-feedback"></i>
						  	<input 
						  		type="number"
						  		name="hsize"
						  		class="form-control"
						  		id="InputHsize"
						  		ng-model="formData.hsize"
						  		placeholder="example: 3 or 4"
						  		ng-pattern="/^([1-9]|1[0-2])$/"
						  		required
						  		ng-focus>
						  </div>
						  <p ng-show="formData1.hsize.$invalid && !formData1.hsize.$pristine && !formData1.hsize.$focused" class="help-block">Your Household size is required.</p>
						</div>
					</div>
			    <button type="button" class="btn btn-default btn-lg" ng-disabled="formData1.$invalid" ng-click="step = 2">Next</button>
			  </div>

			  <div ng-show="step==2">
					<div ng-form='formData2'>
						<div class="form-title">
							<h2>Your Water Bill</h2>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : formData2.util.$invalid && !formData2.util.$pristine && !formData2.util.$focused  , 'has-success' : formData2.util.$valid && !formData2.util.$pristine && !formData2.util.$focused }">
						  <label for="InputUtil">Water Provider</label>
						  <div class="right-inner-addon">
						  	<i ng-show="formData2.util.$valid && !formData2.util.$pristine && !formData2.util.$focused" class="glyphicon glyphicon-ok form-control-feedback"></i>
						  	<input 
						  		type="text"
						  		name="util"
						  		class="form-control" 
						  		id="InputUtil"
						  		ng-model="formData.util"
						  		placeholder="example: San Miguel Water Company"
						  		ng-pattern="/^[a-zA-Z ]+$/"
						  		required
						  		ng-focus>
						  </div>
							<p ng-show="formData2.util.$invalid && !formData2.util.$pristine && !formData2.util.$focused" class="help-block">Your Water Provider is required.</p>
						</div>
						
						<div class="form-group" ng-class="{ 'has-error' : formData2.bill.$invalid && !formData2.bill.$pristine && !formData2.bill.$focused , 'has-success' : formData2.bill.$valid && !formData2.bill.$pristine && !formData2.bill.$focused }">
						  <label for="InputBill">Total Bill</label>
						  <div class="right-inner-addon">
						  	<i ng-show="formData2.bill.$valid && !formData2.bill.$pristine && !formData2.bill.$focused" class="glyphicon glyphicon-ok form-control-feedback"></i>
						  	<input 
						  		type="number"
						  		name="bill"
						  		class="form-control"
						  		id="InputBill"
						  		ng-model="formData.bill"
						  		placeholder="example: 45.55"
						  		ng-pattern="/(?=.)^\$?(([1-9][0-9]{0,2}(,[0-9]{3})*)|[0-9]+)?(\.[0-9]{1,2})?$/"
						  		required
						  		ng-focus>
						  </div>
						  <p ng-show="formData2.bill.$invalid && !formData2.bill.$pristine && !formData2.bill.$focused" class="help-block">Your Total Bill is required.</p>
						</div>

						<div class="row">
							<div class="form-group inline col-sm-6" ng-class="{ 'has-error' : formData2.sdate.$invalid && !formData2.sdate.$pristine && !formData2.sdate.$focused , 'has-success' : formData2.sdate.$valid && !formData2.sdate.$pristine && !formData2.sdate.$focused }">
							  <label for="InputSdate">Billing Start Date</label>
		              <div class="input-group">
	              	<input 
	              		type="text"
	              		name="sdate"
	              		class="form-control"
	              		id="InputSdate"
	              		datepicker-popup="shortDate"
	              		ng-model="formData.sdate"
	              		is-open="opened1" 
	              		min="minDate"
	              		show-weeks="false"
	              		max="'2015-01-01'"
	              		datepicker-options="dateOptions"
	              		show-button-bar="false"
	              		placeholder="MM/DD/YY"
	              		ng-required="true"
	              		close-text="Close"
	              		ng-focus/>
	              	<span class="input-group-btn">
	              	  <button class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              	</span>
		              </div>
							  <p ng-show="formData2.sdate.$invalid && !formData2.sdate.$pristine && !formData2.sdate.$focused" class="help-block">Your Billing Start Date is required.</p>
							</div>
							
							<div class="form-group inline col-sm-6" ng-class="{ 'has-error' : formData2.edate.$invalid && !formData2.edate.$pristine && !formData2.edate.$focused , 'has-success' : formData2.edate.$valid && !formData2.edate.$pristine && !formData2.edate.$focused }">
							  <label for="InputEdate">Billing End Date</label>
	              <div class="input-group">
	              	<input 
	              		type="text"
	              		name="edate"
	              		class="form-control"
	              		id="InputEdate"
	              		datepicker-popup="shortDate"
	              		ng-model="formData.edate"
	              		is-open="opened2"
	              		min="minDate"
	              		show-weeks="false"
	              		max="'2016-12-31'"
	              		datepicker-options="dateOptions"
	              		show-button-bar="false"
	              		placeholder="MM/DD/YY"
	              		ng-required="true"
	              		close-text="Close"
	              		ng-focus/>
	              	<span class="input-group-btn">
	              	  <button class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              	</span>
	              </div>
							  <p ng-show="formData2.edate.$invalid && !formData2.edate.$pristine && !formData2.edate.$focused" class="help-block">Your Billing End Date is required.</p>
							</div>
						</div>.<!-- row -->
				
						<div class="row">
							<div class="form-group">
								<label for="InputPaytype">Bill Type</label>
							</div>
							<div class="form-group inline col-sm-6">
								<label class="radio-inline">
								  <input
								  	type="radio"
								  	id="inlineRadio1"
								  	name="billtype"
								  	ng-model="formData.billtype"
								  	value="frate"
								  	required> Flat Rate Bill
								</label>
							</div>
							
							<div class="form-group inline col-sm-6">
								<label class="radio-inline">
								  <input 
								  	type="radio"
								  	id="inlineRadio2"
								  	name="billtype"
								  	ng-model="formData.billtype"
								  	value="mrate"
								  	required> Metered Bill
								</label>
							</div>
							
							<div ng-show="formData.billtype == 'mrate'"	class="form-group inline col-sm-8" ng-class="{ 'has-error' : formData2.used.$invalid && !formData2.used.$pristine && !formData2.used.$focused  , 'has-success' : formData2.used.$valid && !formData2.used.$pristine && !formData2.used.$focused }">
							  <label for="InputUsed">Water Consumption</label>
							  <div class="right-inner-addon">
							  	<i ng-show="formData2.used.$valid && !formData2.used.$pristine && !formData2.used.$focused" class="glyphicon glyphicon-ok form-control-feedback"></i>
							  	<input 
							  		type="number"
							  		name="used"
							  		class="form-control"
							  		id="InputUsed"
							  		ng-model="formData.used"
							  		placeholder="example: 132"
							  		ng-required="formData.billtype == 'mrate'"
							  		ng-focus>
							  </div>
							  <p ng-show="formData2.used.$invalid && !formData2.used.$pristine && !formData2.used.$focused" class="help-block">Your Water Consumption is required.</p>
							</div>
							
							<div ng-show="formData.billtype == 'mrate'" class="form-group inline col-sm-4" ng-class="{ 'has-error' : formData2.units.$invalid && !formData2.units.$pristine && !formData2.units.$focused , 'has-success' : formData2.units.$valid && !formData2.units.$pristine && !formData2.units.$focused }">
							  <label for="InputUnits">Units</label>
						  	<select 
						  		name="units"
						  		class="form-control"
						  		id="InputUnits"
						  		ng-model="formData.units"
						  		ng-required="formData.billtype == 'mrate'"
						  		ng-focus>
						  	<option>gal</option>
						  	<option>ccf</option>
						  	</select>
						  
						  	<p ng-show="formData2.units.$invalid && !formData2.units.$pristine && !formData2.units.$focused" class="help-block">Your Unit type is required.</p>
							</div>
						</div><!-- .row -->					
					</div><!-- formData2 -->
			    
			    <div class="row">
			    	<button type="button" class="btn btn-default btn-lg" ng-click="step = 1">Back</button>
			    	<a type="submit" class="btn btn-success btn-lg" ng-disabled="formData.$invalid" ng-click="createBill()" ng-href="#/participate" role="button">Submit</a>
			    </div><!-- .row -->
			  </div><!-- step==2 -->

			</div><!-- ng-form -->
		
		</div><!-- .panel-body -->
	</div><!-- .panel -->
</div><!-- .row-group -->


<!-- <div class="row row-group">
	
	<div class="panel panel-default col-sm-6 col-sm-offset-3">
		<div class="col-sm-6">
		    <h4>Validation status:</h4>
		    <p><strong>Step1 valid?</strong> {{formData1.$valid}}</p>
		    <p><strong>Step2 valid?</strong> {{formData2.$valid}}</p>
		    <p><strong>Step3 valid?</strong> {{formData3.$valid}}</p>
		    <p><strong>Whole form valid?</strong> {{formData.$valid}}</p>		
		</div>
		
		<div class="col-sm-6">
			<h4>click to delete bill</h4>
			<div class="checkbox" ng-repeat="entry in entries">
				<label>
					<input type="checkbox" ng-click="deleteBill(entry._id)"> Total Bill: ${{ entry.bill }}
				</label>
			</div>
		</div>
	</div>

</div> -->
