<div class="modal-header">
	<button class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
	<div class="modal-body-inner">

		<h3>How to Get Involved:</h3>
		<br>
		<p>Open-source and collaborative projects such as the New California Water Atlas truly benefit when a variety of talents and backgrounds are involved. As a digital public work for all Californians, we need all kinds of expertise: programmers, designers, environmental scientists, economists, community advocates, writers, documentary-makers, and more.</p>

		<p>If you want to participate in building this project, please reach out to us. Let us know why you are passionate about water in California,  and how you see yourself contributing to making California a healthy, equitable, and prosperous place to live.</p>
		<br>
		<p>See the <a href="http://ca.statewater.org/content/plan">Plan</a>, and email us here:</p>
		<p><a href="mailto:info@statewater.org" target="_blank"><i class="fa fa-envelope"></i> info (at) statewater (dot) org</a></p>
		<br>
		<p>Also, join our <a href="http://statewater.us7.list-manage.com/subscribe?u=24be2c905d3f19d33a44aa119&id=5c3e93968a">mailing list</a> to stay up to date</p>

	</div><!-- .modal-body-inner -->
</div><!-- .modal-body -->













	

