<div class="row row-group">
  
  <ul class="nav nav-tabs nav-stacked col-md-6">
    <li ui-sref-active="active"><a href="/user" data-toggle="tab" ng-click="currentTab = 'user'">View User Data</a></li>
    <li ui-sref-active="active"><a href="/agency" data-toggle="tab" ng-click="currentTab = 'agency'">View Agency Data</a></li>
    <li ng-class="{'active':currentTab == 'get-data'}" data-ng-show="$state.includes('user')"><a href="/user#get-data" data-toggle="tab" ng-click="currentTab = 'get-data'">Get User Data</a></li>
    <li ng-class="{'active':currentTab == 'get-data'}" data-ng-show="$state.includes('agency')"><a href="/agency#get-data" data-toggle="tab" ng-click="currentTab = 'get-data'">Get Agency Data</a></li>
  </ul>

  <div class="col-md-6">
    <p class="lead">Explore user submitted "crowdsourced data", agency submitted "authoritative data", or get data from our API and bulk download options.</p>
  </div>

</div><!-- end .row-group -->