<div class="row row-group">
  <ul class="nav nav-tabs nav-stacked col-md-6">
    <li><a href="#explore">Explore Agency Pricing</a></li>
    <li><a href="#participate">Participate</a></li>
    <li><a href="#get-data">Get Data</a></li>
  </ul>
  <div class="col-md-6">
    <p class="lead">Water is not priced based on its immediate availability, but rather by the estimated cost of delivering it to residents. This is why someone in Seattle (a relatively water abundant region) pays more for water than someone in Las Vegas (an arid region).</p>
  </div>
</div><!-- end .row-group -->