<div id='legend-content'>
  <div class='my-legend'>
	  
	  <div class='legend-title'>
	  	<h4>Palmer Drought Severity Index</h4>
	  </div>
	  
		<div id="pdsi-out">
			<span><span class="text-muted">Region: </span><b id="preg"></b></span>
			<br>
			<span><span class="text-muted">PDSI: </span><b id="pval"></b></span>
		</div>

	  <div class='legend-scale'>
	    <ul class='legend-labels'>
	      <li>
	      	<a href=""><span style="background-color:#543005;" tooltip-placement="top" tooltip="< (-4)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#8c510a;" tooltip-placement="top" tooltip="(-4) - (-3)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#bf812d;" tooltip-placement="top" tooltip="(-3) - (-2)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#dfc27d;" tooltip-placement="top" tooltip="(-2) - (-1)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#f6e8c3;" tooltip-placement="top" tooltip="(-1) - (0)"></span></a>
	      </li>

	      <li>
	      	<a href=""><span style="background-color:#c7eae5;" tooltip-placement="top" tooltip="(0) - (+1)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#80cdc1;" tooltip-placement="top" tooltip="(+1) - (+2)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#35978f;" tooltip-placement="top" tooltip="(+2) - (+3)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#01665e;" tooltip-placement="top" tooltip="(+3) - (+4)"></span></a>
	      </li>
	      <li>
	      	<a href=""><span style="background-color:#003c30;" tooltip-placement="top" tooltip=">(+4)"></span></a>
	      </li>
	    </ul>
	  	<div class="legend-source">Source: <a href="http://www.ncdc.noaa.gov/temp-and-precip/drought/historical-palmers.php">NOAA Palmer Drought Indices</a></div>
	  </div>
	</div>
</div>