<div class="modal-header">
	<button class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
	<div class="modal-body-inner">

		<h3>Sponsor This Project:</h3>
		<br>
		<p>If your organization shares our belief in the importance of making these kinds of public datasets widely available, and expanding understanding of our state’s water resources, then sponsor the next phase of this project.</p>
		<p>We plan to expand features and data offerings for this initiative, and are looking for a sponsor to help with offering rewards to users who submit their billing information.</p>

		<p>Email us to discuss sponsorship possibilities:</p>
		<p><a href="mailto:info@statewater.org" target="_blank"><i class="fa fa-envelope"></i> info (at) statewater (dot) org</a></p>
		
		<div class="clearfix"></div>
		<br>
		<hr>

		<h3>Support This Project:</h3>
		<br>
		<ul>
			<li>Contribute time, data, and other in-kind resources.</li>
			<li>Help us raise money to support our core team.</li>
			<li>Help us connect to potential funders & agencies that can help support this project as a public work.</li>
			<li>Advise us, connect us, or help spread the word about it.</li>
			<li>Talk to us about making a financial contribution. Contributions are tax deductible (501.c3).</li>
		</ul>
		<p>If you like what we are doing, and want to support us, please contact us by email:</p>
		<p><a href="mailto:info@statewater.org" target="_blank"><i class="fa fa-envelope"></i> info (at) statewater (dot) org</a></p>
		<p>Also, join our <a href="http://statewater.us7.list-manage.com/subscribe?u=24be2c905d3f19d33a44aa119&id=5c3e93968a">mailing list</a> to stay up to date</p>


	</div><!-- .modal-body-inner -->
</div><!-- .modal-body -->













	

