<!-- submit page ================================================== -->  		

<div ng-include="'views/templates/head.html'"></div>

<div class="row row-group">
	<h2 class="bar-title">Crowdsourcing the Pricing of Water</h2>
	<div mapuser id="map" userdata="entries"></div>
	<!-- HEADER AND BILL COUNT -->
	<div class="text-center">
		<h1>Bills Submitted (test) <span class="label label-info">{{ entries.length }}</span></h1>
	</div>
</div>

<!-- BILL LIST -->
<div id="bill-list" class="row row-group">
	<div class="panel panel-default col-sm-4 col-sm-offset-4">
		<h3>click to delete bill</h3>
		<!-- LOOP OVER THE BILLS IN $scope.bills -->
		<div class="checkbox" ng-repeat="entry in entries">
			<label>
				<input type="checkbox" ng-click="deleteBill(entry._id)"> Total Bill: ${{ entry.bill }}
			</label>
		</div>
	</div>
</div>


<div id="bill-form" class="row">
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<!-- <h2>How much do you pay for water?</h2> -->
		<!-- <button class="btn btn-primary btn-lg" ng-click="open()">Enter Your Bill</button> -->
	</div>
</div>

<!-- <div ng-controller="ModalDemoCtrl">
  <button class="btn" ng-click="open()">Open me!</button>
  <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div> -->

<section>
	<div class="row">
		<div class="panel panel-default col-sm-6 col-sm-offset-3">
			<div class="panel-body">
				
				<form name="formData" ng-submit="createBill()" novalidate>
				  <div class="form-group">
				    <label for="InputBill">Monthly Total (USD)</label>
				    <input type="text" class="form-control" id="InputBill" ng-model="formData.bill" placeholder="ex. $45.55">
				  </div>
				  <div class="form-group">
				    <label for="InputUse">Total Water Used (gallons)</label>
				    <input type="text" class="form-control" id="InputUse" ng-model="formData.used" placeholder="ex. 300 gal">
				  </div>
				  <div class="form-group">
				    <label for="InputUse">Bill Date //note: use date picker here//</label>
				    <input type="text" class="form-control" id="InputUse" ng-model="formData.date" placeholder="leave blank for now">
				  </div>
				  <div class="form-group">
			      <label for="InputZip">Zipcode //finish geocoder//</label>
			      <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result" details="details" options="options"/>
			      <div>{{details.geometry.location.d}}</div>
			      <div>{{details.geometry.location.e}}</div>
				  </div>
				  <div class="form-group">
				    <label for="InputLat">Latitude</label>
				    <input type="text" class="form-control" id="InputLat" ng-model="formData.lat" placeholder="37.166111">
				  </div>
				  <div class="form-group">
				    <label for="InputLng">Longitude</label>
				    <input type="text" class="form-control" id="InputLng" ng-model="formData.lng" placeholder="-119.449444">
				  </div>
				  <div class="form-group">
				    <label for="InputRate">Utility Rate //just a test value do not need//</label>
				    <input type="text" class="form-control" id="InputRate" ng-model="formData.rate" placeholder="ex $3/gal">
				  </div>

					<!-- <div class="form-group">
				    <label for="InputLat">Latitude: {{details.geometry.location.d}}</label>
				    <input type="text" class="form-control" id="InputLat" ng-model="formData.lat" placeholder="37.166111">
				  </div>
				  <div class="form-group">
				    <label for="InputLat">Longitude: {{details.geometry.location.e}}</label>
				    <input type="text" class="form-control" id="InputLat" ng-model="formData.lng" placeholder="-119.449444">
				  </div> -->
					<button type="submit" class="btn btn-default">Submit</button> 
				</form>
				
			</div>
	
		</div>
	</div>
</section>

<section>
	<div ng-controller="chartController">
		<div class="columns large-12">
			<div d3-bars data="entries" on-click="onClick(item)" bar-height="40" bar-padding="5"></div>
		</div>
	
		<div class="columns large-12 small-12" ng-show="showDetailPanel">
	    <h3>Details</h3>
	    <h3>Item: {{ detailItem._id }}</h4>
	    <a ng-click="showDetailPanel=false">Hide</a>
	  </div>
	</div>
</section>

<div ng-include="'views/templates/nav-content.html'"></div>
<div ng-include="'views/templates/explore-content.html'"></div>
<div ng-include="'views/templates/atlas-content.html'"></div>