<div class="modal-header">
	<button class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
	<div class="modal-body-inner">

		<h3>Supported By:</h3>
		<br>
		<p>The New California Water Atlas is a <a href="http://rri.org" alt="Resource Renewal Institute">Resource Renewal Institute</a> project.</p>
		
		<div class="col-sm-6">
		  <a href="http://rri.org" alt="Resource Renewal Institute"><img class="img-responsive" src="/img/assets/rri_logo.png"></a>
		</div>
		<div class="clearfix"></div>
		<br>
		<p>We are grateful to these organizations for helping with the Atlas as a whole, as well as specific interactive projects:</p>
		
		<div class="col-sm-6">
		  <a href="http://patagonia.com" alt="Patagonia"><img class="img-responsive" src="img/assets/patagonia_logo_small.png"></a>
		  <small class="text-muted">PATAGONIA, INC. a California B Corp</small>
		</div>
		<div class="clearfix"></div>
		<br>
		
		<hr>
		
		<h3>Organizations we talk to:</h3>
		<br>
		<h4>Agencies:</h4>
		<p><a href="http://www.water.ca.gov">California Department of Water Resources</a></p>
		<p><a href="http://www.cpuc.ca.gov/PUC/">California Public Utilities Commission</a></p>
		<p><a href="http://www.waterboards.ca.gov/">State Water Resource Control Board</a></p>
		<br>
		<h4>Companies:</h4>
		<p><a href="http://esri.com">ESRI</a></p>
		<p><a href="http://mapbox.com">Mapbox</a></p>
		<p><a href="http://stamen.com">Stamen</a></p>
		<br>
		<h4>Universites:</h4>
		<p><a href="http://bwc.berkeley.edu/home/">Berkeley Water Center</a></p>
		<p><a href="http://gif.berkeley.edu">UC Berkeley's Geospatial Innovation Facility</a></p>
		<p><a href="http://ced.berkeley.edu">UC Berkeley's College of Environmental Design</a></p>
		<p><a href="https://watershed.ucdavis.edu">UC Davis's Center for Watershed Sciences</a></p>
		<br>
		<p>We are looking for more partners. If you are interested in being involved with a particular project, or the Atlas as a whole, please contact us:</p>

		<p><a href="mailto:info@statewater.org" target="_blank"><i class="fa fa-envelope"></i> info (at) statewater (dot) org</a></p>
		<p>Also, join our <a href="http://statewater.us7.list-manage.com/subscribe?u=24be2c905d3f19d33a44aa119&id=5c3e93968a">mailing list</a> to stay up to date.</p>


	</div><!-- .modal-body-inner -->
</div><!-- .modal-body -->













	

