<div class="modal-header">
	<button class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
	<div class="modal-body-inner">
		<h3>Team:</h3>
		<p><em>California Water Pricing has been a collaboration between the NCWA team, David Zetland, & the California Public Utilities Commission.</em></p>
		
		<ul>
			<li>
				<a href="http://twitter.com/videmsky">Laci Videmsky,</a> A designer and product developer, Laci has worked with NGOs and nonprofits to promote environmentally resilient, economically vital, and socially aware places and things.  As a research assistant and graduate student at Harvard University, he studied water and urbanization in the <a href="http://news.harvard.edu/gazette/story/2010/05/rising-seas-raising-hopes/">Netherlands</a> and the West Bank.  He currently is a Project Director with the <a href="http://www.rri.org/index.php">Resource Renewal Institute</a> and a <a href="http://ced.berkeley.edu/ced/faculty-staff/laci-videmsky">Visiting Lecturer</a> at UC Berkeley's College of Environmental Design.  He is coordinating design of the interactives, while guiding the project to meet its timeline and budgetary goals.
			</li>
			<br>
			<li>
				<a href="http://ecowang.com/Ecowang/Team.html">Jeanny Wang</a> has over 20 years experience in conservation planning, environmental assessments, wastewater reuse, GIS analysis and mapping for hydrological networks, watershed management and other environmental projects.  She has worked with US Forest Service, US Bureau of Reclamation, and the United Nations Development Programme. She is currently a PhD candidate in the Dept. of Environmental Science, Policy, & Management at UC Berkeley.  Jeanny is guiding research for earch of the interactives, and serving as liason to the range of water experts that engage the project.
			</li>
			<!-- <br>
			<li>
				<a href="https://twitter.com/erictheise">Eric Theise</a>, Cartography Director & Senior Engineer
			</li>
			<br>
			<li>
				Andrea Hansen
			</li>
			<br>
			<li>
				Chris Long
			</li>
		</ul> -->

		<div class="clearfix"></div>
		<br>

		<h3>Advisors:</h3>
		<ul>
			<li>
			<a href="http://en.wikipedia.org/wiki/Stewart_Brand">Stewart Brand</a>, is an American writer, best known as editor of the Whole Earth Catalog. He founded a number of organizations, including The WELL, the Global Business Network, and the Long Now Foundation. He is the author of several books, most recently Whole Earth Discipline: An Ecopragmatist Manifesto. He served as Advisory Group Chairman to the original California Water Atlas.
			</li>
			<br>
			<li>
			<a href="http://en.wikipedia.org/wiki/Huey_Johnson">Huey Johnson</a>, Founder and President of the Resource Renewal Institute. Serving as California Secretary of Resources in the Brown Administration, President of the Nature Conservancy, and recipient of the United Nations Sasakawa Environment Prize, Huey’s career has been dedicated to developing better ways of understanding how to manage and allocate natural resources.
			</li>
			<br>
			<li>
			<a href="http://awpw.assembly.ca.gov/contactthecommittee">Tina Cannon Leahy</a>, is the Principal Water Policy Consultant for the California State Assembly’s Committee on Water, Parks and Wildlife.  Tina serves as advisor for the California Environmental Law and Policy Center at UC Davis, and as Executive Committee Advisor for the California Bar Association Environmental Law Section.  Tina has over fifteen years of California water policy expertise including nine years working as Senior Staff Counsel at the California Department of Fish and Wildlife.
			</li>
			<br>
			<li>
			<a href="http://ced.berkeley.edu/ced/faculty-staff/louise-mozingo">Louise Mozingo</a>, is the Chair of Landscape Architecture and Environmental Planning at the University of California, Berkeley. In 2009 she became the founding director of an interdisciplinary research team at the College of Environmental Design, and the Center for Resource Efficient Communities (CREC) dedicated to supporting resource efficiency goals through environmental planning and urban design.  A former Associate and senior landscape architect for Sasaki Associates, Prof. Mozingo joined the College of Environmental Design after a decade of professional practice.
			</li>
			<br>
			<li>
			<a href="http://bwc.berkeley.edu/home/people.shtml">Carolyn Remick</a>, Executive Director, Berkeley Water Center, University of California, Berkeley. Prior to joining BWC, she held senior management positions at non-profit organizations and consulting firms. Her areas of expertise include inter-agency coordination on habitat restoration and developing incentives for habitat and water quality improvements on private lands. Carolyn was raised in Oakland, California. She received her B.S. degree from U.C. Berkeley’s College of Natural Resources and M.S. degree in Geography from the University of Nevada.
			</li>
			<br>
			<li>
			<a href="http://www.kysq.org">David Zetland</a>, is a Water Economist at Aguanomics Solutions. David received his PhD in Agricultural and Resource Economics from UC Davis in 2008. He was a S.v. Ciriacy-Wantrup Postdoctoral Fellow in Natural Resource Economics and Political Economy at UC Berkeley from 2008 to 2010. He blogs on water, economics and politics at aguanomics.com and is the author of The End of Abundance: economic solutions to water scarcity (2011).
			</li>
		</ul>

	</div><!-- .modal-body-inner -->
</div><!-- .modal-body -->


  



	


	