<!-- submit page ================================================== -->  		

<!-- <div ng-include="'views/templates/head.html'"></div> -->

<div class="row row-group">
	<!-- <div id="map-wrap" class="col-sm-9" ng-controller="palmerCache"> -->
	<div id="map-wrap" class="col-sm-9">
	
		<h2 class="bar-title">Find How Water is Priced: User Data
			<span class="ctrfrate counters pull-right" tooltip-placement="top" tooltip="{{frate}} fixed rate bills">{{frate}}</span>
			<span class="ctrmrate counters pull-right" tooltip-placement="top" tooltip="{{mrate}} metered rate bills">{{mrate}}</span>
		</h2>
		<!-- <input type="text" ng-model="searchEntries"> -->
		<!-- <ul id='map-ui'></ul> -->
		<div mapuser id="map" userdata="entries | filter:searchentries"></div>
	</div>
	
	<div class="detail-wrap col-sm-3">	  
		<h2 class="bar-title">Search Pricing</h2>
	  <tabset justified="true">
	    <tab heading="Details">
	    	
	    	<div class="detail-panel">

					<div id="banner-wrap">
						<div id="banner-wrap-inner">
							<click-banner></click-banner>
							<h5 class="text-muted">CLICK POINTS ON MAP</h5>
						</div>
					</div>

					<div class="detail-panel-inner">
						<h4 id="bill-panel-streetaddr" class="panel-items"></h4>
						<!-- <p><span class="text-muted">Cost per Day: </span><b>$</b><span id="bill-panel-pday" class="panel-items"></span></p> -->
		    		<!-- <p><span class="text-muted">Location: </span><b id="bill-panel-streetaddr" class="panel-items"></b></p> -->
		    		<p><span class="text-muted">Water Provider: </span><b id="bill-panel-util" class="panel-items"></b></p>
		    		<p><span class="text-muted">Total Bill: </span><b>$</b><b id="bill-panel-bill" class="panel-items"></b></p>
		    		<p><span class="text-muted">Water Used: </span><b id="bill-panel-used" class="panel-items"></b><span> </span><b id="bill-panel-units" class="panel-items"></b></span>
		    		<p><span class="text-muted">Bill Period: </span><b id="bill-panel-billperiod" class="panel-items"></b> days</p>
		    		<p><span class="text-muted">Household Size: </span><b id="bill-panel-hsize" class="panel-items"></b></p>
		    		<p><span class="text-muted">Submitted: </span><b id="bill-panel-submit" class="panel-items"></b></p>
					</div>
	    		
	    		<hr>
					
					<div ng-include="'views/templates/pdsi-legend.html'"></div>

	    	</div>
	    </tab>
	    
	    <tab heading="Summary">
	    	
				<div id="search" class="input-group">
				  <input type="text" class="search-custom form-control" ng-model="$parent.searchentries" placeholder="ex. san diego">
				  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				</div>

				<div class="summary-panel">
    			<h5 class="text-muted text-inline">AVERAGES</h5>
					<p><span class="text-muted">Cost: </span><span>${{average(pcappdayArr).toFixed(2)}} /<i class='fa fa-user'></i>/day</span></p>
					<p><span class="text-muted">Usage: </span><span>{{average(usedArr).toFixed(1)}} gal/<i class='fa fa-user'></i>/day</span></p>
				</div>

	    	<div class="search-panel-user">
	    		
	    		<div class="detail-panel-inner-search" ng-controller="searchAccordion">

					  <accordion close-others="oneAtATime" ng-repeat="entry in entries | filter:searchentries">

					    <accordion-group is-open="isopen">

				        <accordion-heading ng-if="entry.properties.billtype == 'frate'">
				          <p>{{entry.properties.streetaddr}}:</p>
				          <p class="ctrfrate counters-small text-inline">${{entry.properties.pcappday}}/<i class='fa fa-user'></i>/day</p><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
				        </accordion-heading>

				        <accordion-heading ng-if="entry.properties.billtype !== 'frate'">
				          <p>{{entry.properties.streetaddr}}:</p>
				          <p class="ctrmrate counters-small text-inline">${{entry.properties.pcappday}}/<i class='fa fa-user'></i>/day</p><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
				        </accordion-heading>
					    		
				    		<p><span class="text-muted">Water Provider: </span><b id="bill-panel-util" class="panel-items">{{entry.properties.util}}</b></p>
				    		
				    		<p><span class="text-muted">Total Bill: </span><b>$</b><b id="bill-panel-bill" class="panel-items">{{entry.properties.bill}}</b></p>
				    		
				    		<p ng-if="entry.properties.used !== undefined"><span class="text-muted">Water Used: </span><b id="bill-panel-used" class="panel-items">{{entry.properties.used}}</b><span> </span><b id="bill-panel-units" class="panel-items">{{entry.properties.units}}</b></span>

				    		<p ng-if="entry.properties.used == undefined"><span class="text-muted">Water Used: </span><b id="bill-panel-used" class="panel-items">not metered</b></span>
				    		
								<p><span class="text-muted">Bill Period: </span><b id="bill-panel-bill" class="panel-items">{{entry.properties.billperiod}}</b> days</p>

								<p><span class="text-muted">Household Size: </span><b id="bill-panel-bill" class="panel-items">{{entry.properties.hsize}}</b></p>

				    		<p><span class="text-muted">Submitted: </span><b id="bill-panel-submit" class="panel-items">{{submitted}}</b></p>
					    
					    </accordion-group>
					  
					  </accordion>


<!-- 	    			<div class="entries" ng-repeat="entry in entries | filter:searchentries">
    				<div ng-if="entry.properties.billtype == 'frate'" class="entry-inner">
    					<p>{{entry.properties.streetaddr}}:</p>
    					<br>
    					<p class="ctrfrate counters-small">${{entry.properties.pcappday}}/<i class='fa fa-user'></i>/day</p>
    				</div>

    				<div ng-if="entry.properties.billtype !== 'frate'" class="entry-inner">
    					<p>{{entry.properties.streetaddr}}:</p>
    					<br>	
    					<p class="ctrmrate counters-small">${{entry.properties.pcappday}}/<i class='fa fa-user'></i>/day</p>
    				</div>
    			</div> -->
	    		
	    		</div> <!-- .detail-panel-inner-search -->

	    	</div> <!-- .search-panel -->
	    </tab>
	  </tabset>
	
	</div>
</div> <!-- end row -->

<div class="row row-group">
	
	<div id="graph-wrap1" class="col-sm-6">
	  <div d3-graph id="chartContainer" data="entries | filter:searchentries"></div>
	</div>

	<!-- <div id="graph-wrap2" class="col-sm-3" ng-controller="barsController1">	  
		<h2 class="bar-title">Water Bills</h2>
		<div d3-bars id="chartContainer" data="entries" on-click="onClick(item)" bar-height="40" bar-padding="5"></div>
		<div ng-show="showDetailPanel">
	    <h3>Details</h3>
	    <h3>Item: {{ detailItem._id }}</h4>
	    <a ng-click="showDetailPanel=false">Hide</a>
	  </div>
	</div> -->
	
	<div id="graph-wrap2" class="col-sm-3">
	  <!-- <input type="text" ng-model="searchEntries"> -->
	  <!-- <d3-donut data="[82, 62, 10, 32]"></d3-donut> -->
	  <!-- <d3-donut data="entries"></d3-donut> -->
	</div>

<!-- 	<div  id="graph-wrap3" class="col-sm-3">
		<div class="summary-panel">
			<p><span class="text-muted">Average Cost: </span><b id="bill-panel-hsize" class="panel-items">${{average(pcappdayArr)}} /p/day</b></p>
			<p><span class="text-muted">Average Usage: </span><b id="bill-panel-hsize" class="panel-items">{{average(usedArr).toFixed()}} gal/p/day</b></p>
		</div>
	</div> -->

</div> <!-- end row -->

<div ng-include="'views/templates/nav-content.html'"></div>
<div ng-include="'views/templates/explore-content.html'"></div>
<div ng-include="'views/templates/atlas-content.html'"></div>