/*<!-- ============ Global / Content ============ -->*/


body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin-top: 0px;
  color: #0c0c0a;
  /*background-color: #fff;*/
}

a {
  color:  #a05725;
  padding-bottom: 2px;
  border-bottom: 1px #d8a271 dotted;
}

a:hover,
a:active {
  color:  #a05725;
  text-decoration: none;
  border-bottom: 1px #d8a271 solid;
}

.page-header {
  padding-bottom: 9px;
  margin: 0px 0 20px;
  border-bottom: none;
}

h1 {
  font-family: 'Rosario', sans-serif;
}

h2 {
  font-family: 'Rosario', sans-serif;
}

h3 {
  font-family: 'Questrial', sans-serif;
}

p {
  font-family: 'Muli', sans-serif;
}

h3,h4,h5,h6 {
  font-family: 'Rosario', sans-serif;
}

.menu {
  float: right;
  margin-right: 100px;
}

label {
  font-size: 1.2em;
}

.form-control {
  font-size: 1.1em;
}

small, .small {
  font-size: 65%;
}

/*hide spin box for numerical inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.inline {
  display: inline-block;
}

.text-inline {
  display: inline;
}

dt {
  font-family: 'Rosario', sans-serif;
  font-weight: bold;
}

dd {
  font-family: 'Questrial', sans-serif;
}

.text-center {
  text-align: center;
}

/*<!-- ============ Custom Styling ============ -->*/

/*#front-page {
  background-color: rgb(183,175,162);
}*/

.ncwa-badge {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3000;
  width: 75px;
  height: 75px;
  margin-right: 3%;
}

.ncwa-logo {
  position: absolute;
}

.ncwa-logo img {
  width: auto;
  height: 100px;
}

header {
  /*background-color: #fbfaef;*/
  background-color: #f3f3f3;
  /*border-bottom: 2px solid #f1edc5;*/
  border-bottom: 2px solid #dcdcdc
}

#header-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-wrap {
  margin-left: 110px;
  margin-top: 35px;
}

h1#title {
  font-size: 2.75em;
  /*font-weight: bold;*/
  line-height: 0em;
  color: #5eaeb2;
  text-transform: uppercase;
}

/*h2.sub-title {
  line-height: 0em;
}*/

/*#carousel-example-generic {
  margin-left: -15px;
  margin-right: -15px;
}*/

.carousel-caption,
.bar-title {
  font-family: 'Rosario', sans-serif;  
  font-size: 1.5em;
  line-height: 1.5em;
  background-color: #dbd7ca;  
  font-weight: bold;
  width: 100%;
  padding: 6px;
  padding-left: 24px;
}

h2.bar {
  font-family: 'Rosario', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  background-color: #dbd7ca;
  width: 100%;
  padding: 6px;
  margin: 70px 0;
  border-left: solid 3px #a2a18f;
}

.row-group {
  margin-top: 25px;
}

.row-break {
  margin-top: 65px;
}

.theask-wrap {
  display: table;
  height: 475px;
}

.theask {
  display: table-cell;
  vertical-align: middle;
}

.theask-text,.theask-text-med ,.theask-text-sml {
  font-family: 'Muli', sans-serif;
  line-height: 1.25em;
}

.theask-text {
  font-size: 2.75em;
}

.theask-text-med {
  font-size: 1.75em;
}

.theask-text-sml {
  font-size: 1.25em;
}

#submit-block {
  margin-top: 65px;
}

.quote-title {
  color: #5eaeb2;
}

#quote-block {
  margin-top: 65px;
}

#quote-block-inner {
  /*text-align: center;*/
}

.quotes > p {
  font-size: 1.5em;
}

/*.tb-wrap {
  display: table;
}

.tb-cell {
  display: table-cell;
  vertical-align: middle;
}*/

.tb-project-text {
  height: 300px;
}

.water-icons {
  height: 200px;
}

#water-qual-icon, #water-cycle-icon {
  margin-top: 100px
}

hr.top-heavy {
  margin-top: 65px;
}

footer {
  margin-top: 175px;
  /*background-color: #f7f5e1;*/
  /*background-color: rgba(231,228,157,0.15);*/
  background-color: #fbfaef;
  /*background-color: #f4f1d3;*/
  border-top: 2px solid #f1edc5;
}

#footer-wrap {
  margin-top: 75px;
  text-align: center;
}

.footer-panel {
  padding: 15px;
  /*background-color: #f1edc5;*/
  background-color: #f8f8e6;
  text-transform: uppercase;
}

.footer-panel-inner {
  margin-top: 25px;
}

a > i.fa {
  color: #a05725;
}

#copy-mark {
  margin-bottom: 25px;
}

/*
 *  tabs
 */

.nav > li > a {
  font-family: 'Questrial', sans-serif;
  font-size: 1.30em;
  line-height: 1.30em;
/*   background-color: #dbd7ca; */
  background-color: #edeae2;
  padding: 6px;
  padding-left: 12px;
  /*margin: 5px 0;*/
  border: none;
  border-left: solid 3px #a2a18f;
  border-radius: 0;
  color: #0c0c0a;
}

.nav-stacked > li > a {
  margin: 5px 0;
}

.nav-justified > li > a {
  margin: 0 0;
}

.nav > li > a:hover {
  border: none;
  border-color: none;
  background-color: #d8a271;
  border-left: solid 3px #a05725;
} 

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #d8a271;
  border-left: solid 3px #545348;
}

ul.nav-tabs>li>a.btn.btn-primary.btn-lg{
  text-align: left;
}

ul.nav-tabs>li.active>a, ul.nav-tabs>li.active>a:hover, ul.nav-tabs>li.active>a:focus {
  color: #545348;
}

ul.nav-tabs {
  border-bottom: none;
}

.nav-tabs.nav-justified>li>a {
  border-bottom: none; 
  border-radius: 0px 0px 0 0;
}


/*
 *  carousel
 */ 

.carousel {
  margin-top: 25px;
}

.carousel-control.left {
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.1) 0,rgba(0,0,0,0.0001) 100%);
}
.carousel-control.right {
  background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.1) 100%);
}
.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  text-shadow: none;
  color: #0c0c0a;
  text-align: left;
}

.carousel-inner>.item>a>img {
  padding-top: 48px;
}

ol.carousel-indicators {
  position: absolute;
  /*bottom: 20px;*/
  top: 12px;
  right: 10%;
  z-index: 15;
  width: 20%;
  padding-left: 0;
  margin-left: 35%;
  text-align: center;
  list-style: none;
}


/*
 *  teaser 
 */ 


.teaser-panel {
  height: 304px;
  overflow: scroll;
}

.teaser-text-fade {
  max-height: 300px;
  position: relative;
  overflow: hidden;
}

.teaser-text {
  padding: 15px;
}

.teaser-text-fade .read-more { 
  position: absolute;
  bottom: 0; 
  height: 275px;
  width: 100%; 
  text-align: center; 
  margin: 0px;  
  
  /* "transparent" only works here because == rgba(0,0,0,0) */ 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, white));
  background-image: -webkit-linear-gradient(top, transparent, white);
  background-image: -moz-linear-gradient(top, transparent, white);
  background-image: -ms-linear-gradient(top, transparent, white);
  background-image: -o-linear-gradient(top, transparent, white);
}

.read-more a {
  position: relative;
  display: block;
  margin: 250px auto;
}


#bill-list {
  margin-bottom:30px;
}


#bill-form {
  margin-bottom:50px;
}


/*
 *  counters
 */ 

.counters {
  margin-right: 5px;
  padding-right: 13px;
  padding-left: 13px;
}

.ctrmrate, .ctrfrate, .ctrarate {
  color: #fff;
}

.ctrmrate {
  background-color: #a4ad50;
}

.ctrfrate {
  background-color: #e4da56;
}

.ctrarate {
  background-color: #cc6633;
}

.counters-small {
  font-weight: bold;
  padding: 3px 6px 3px 6px;
}

/*.avg-counters {
  color: #fff;
  background-color: #dbd7ca;
}
*/

/*
 *  form
 */

.panel-form {
  display: table;
  height: 475px;
}

.panel-body {
  display: table-cell;
  vertical-align: middle;
}

.form-title {
  text-align: center;
  color: #5eaeb2;
  font-weight: 700;
}

.form-title h2 {
  display: inline;
}

img.image-sample {
  opacity: 0.65;
}

img.image-sample:hover {
  opacity: 1.0;
  border: 1px solid #a05725;
}

.highlight {
  background-color: rgba(0, 0, 0, .75);
  margin: 10px 0 0 0;
  padding: 0px 5px 0px 5px;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;    
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}


/*
 *  my modal
 */ 

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  /*padding:  10px;*/
  text-align: left;
}

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  color: red;
  opacity: 1
}


/*
 *  Bootstrap modal overrides
 */ 

.modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  /*border: 1px solid #e0e0e0;*/
}

.modal-header {
  border-bottom: 0px;
  padding-top: 8px;
}

.modal-body {
  padding: 20px 0px 20px 20px;
  max-height: 500px;
  overflow: scroll;
}

.modal-body-inner {
  /*padding-right: 10px;*/
}

.close {
  font-size: 2em;
  line-height: 1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}




/*
 *  panel
 */ 

.detail-wrap {
  /*overflow: hidden;*/
}

.detail-wrap > .tabbable {
  height: 480px;
}

.detail-panel, .search-panel-user, .search-panel-agency, .summary-panel {
  padding: 15px 15px 0px 15px;
}

.search-panel-user {
  height: 275px;
  overflow: scroll;
}

.search-panel-agency {
  height: 388px;
  overflow: scroll;
}

.summary-panel, .search-panel-user, .search-panel-agency {
  border: 1px solid #e0e0e0;
}

.summary-panel {
  margin-bottom: 9px;
}

#banner-wrap {
  position: relative;
  text-align: center;
}

#banner-wrap-inner {
  position: absolute;
  width: 100%;
  background-color: #fff;
  min-height: 200px;
  padding-top: 15px;
}

img#clickbanner {
  width: 65%;
}

.detail-panel-inner {
  overflow: scroll;
  height: 220px;
}

/*.detail-panel-inner-search {
  overflow: scroll;
  height: 390px;
}*/

#search {
  padding-top: 9px;
  padding-bottom: 9px;
}

/*input[type="text"], input {
  border: 1px solid #e0e0e0;
  font-size: 20px;
  padding: 10px 6px 10px 6px;
  line-height: 1.1;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}*/

.search-custom {
  border: 1px solid #e0e0e0;
  font-size: 20px;
  padding: 10px 6px 10px 6px;
  line-height: 1.1;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.input-group-addon {
  border: 1px solid #ccc;
  border-radius: 0px;
}

.input-group-addon:last-child {
  border-left: 1px;
  border: 1px solid #e0e0e0;
}

.entries-group {
  
}

.entries {
  margin-bottom: 5px;
  background-color: #dbd7ca;
}

.entry-collapse {
  background-color: #fff;
  border: 1px solid #e0e0e0;
}

.entry-title > a {
  border-bottom: none;
}

.entry-inner {
  display: inline;
}

span#bill-panel-pday {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #fff; 
  padding: 6px 9px 6px 9px;
  background-color: red; 
}

/*.detail-panel hr {
  margin-top: 0px;
  margin-bottom: 10px;
}*/

.legend-title p.lead {
  /*font-family: 'Questrial', sans-serif;*/
}

/*.legend-scale {
  position: absolute;
  bottom: 0;
}*/

/*.form-control {
  border-radius: 0px;
}

.input-group-addon {
  border-radius: 0px;
}

.input-group-lg>.form-control {
  border-radius: 0px;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  border-radius: 0px;
}*/



/*
 *  map, tooltips, panels, & legends
 */ 

#map {
  height: 480px;
  width: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}

.my-legend .legend-title {
  text-align: left;
  /*margin-bottom: 8px;*/
  font-weight: bold;
  font-size: 90%;
}

.my-legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 70%;
  list-style: none;
}

.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
  opacity: 0.7;
}

.my-legend ul.legend-labels li span:hover {
  opacity: 1.0;
  border: 2px solid #a05725;
}

.my-legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}

/*.my-legend a {
  color: #777;
}*/

/*ul.legend-labels>li>.tooltip {
  margin-left: 20px;
}*/

.info {
  position: absolute;
  width: 33%;
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 1000;
  left: 0;
  bottom: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  /*border-radius: 5px;*/
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

p.tt-title {
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}

.tt-highlight {
  font-family: 'Muli', sans-serif;  
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
}


/*
 *  leaflet overrides
 */ 

a.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-tip {
  display: none;
}

.leaflet-popup-content-wrapper {
  padding: 20px 15px 10px 15px;
  /*background-color: #dbd7ca;*/
  background-color: #fff;
  border-radius: 0px;
  z-index: 2000;
}

.leaflet-popup-content {
  width: 300px !important;
  display: inline-block;
}

.leaflet-overlay-pane>svg:last-of-type {
  z-index: 1;
}


/*
 *  d3 graphs & charts
 */ 

.bar {
  fill: #1f77b4;
}

.bar:hover {
  fill: #d8a271;
}

.chart {
  background: #eee;
  padding: 3px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: #5bc0de;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.donut-chart {
  width: 100%;
  height: 100%;
}

/*
 *  media queries
 */ 


/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {


}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {   
  
  h1#title {
    line-height: 1;
  }

  .info {
    display: none;
  }

  #graph-wrap3 {
    display: none;
  }

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
  
  .info {
    display: none;
  }

  #graph-wrap3 {
    display: none;
  }
}